apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-application
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ argocd_gitops_repository_url }}
    targetRevision: main
    path: argocd
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true